.footerWrapper {
    background: #f2f2f2;

    .padding24px,
    .links {
        padding: 24px;
    }

    .logo {
        width: 3rem;
        height: 3rem;
    }

    .infoContact {
        display: flex;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;

            .label {
                color: #505050;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }

        .iconContact {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }
    }

    .links {
        display: flex;
        flex-direction: column;

        .link {
            cursor: pointer;
            margin-top: 0.5rem;

            &:hover {
                color: #999;
            }
        }
    }

    .copyRight {
        text-align: center;
        margin-top: 2rem;
        font-size: 80%;
    }
}

.textArea textarea {
    resize: none !important;
}

.accessView {
    display: flex;

    img {
        margin-right: 5px;
    }
}
