.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65px;
  box-shadow: inset 0px -0.5px 0px #D6D6D6;
  padding: 0 10px;
  color: #fff;
}

.menuWrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  :global {
    .ant-menu-item {
      color: #fff;
      background-color: #000;
      a {
        font-size: 16px;
        color: #fff;
      }
    }
    .ant-menu-item-selected, .ant-menu-item-active {
      background-color: #000 !important;
      a {
        color: #A03BBA;
      }
    }
  }
  .menuItem {
    padding: 10px;
    position: relative;
    cursor: pointer;
    .badge {
      position: absolute;
      top: 8px;
      right: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      background-origin: padding-box;
      color: #fff;
      min-width: 14px;
      height: 14px;
      background-color: #eb5757;
      border-radius: 50%;
    }
    &:last-child img {
      border-radius: 50%;
      border: 1px solid #c4c4c4;
      background: #3B3B3B;
      padding: 8px;
    }
    .dropdownToggle {
      width: 160px;
      color: #3B3B3B;
      background: #EFEFEF;
      border-radius: 150px;
      padding: 2px 10px 2px 2px;

      .userName {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}
.toggleSideBarButton {
  transform: translateX(5px);
  z-index: 1;
}
.logoHeader {
  padding-left: 20px;
}
.menuContent {
  margin-right: auto;
  padding-left: 10px;
}
.isCollapsed {
  transform: translateX(405px);
  transition: all .3s;
}
@media only screen and (max-width: 992px) {
  .isCollapsed {
    transform: translateX(305px);
  }
}
